#smol{height: 100px;
    animation-name: smol;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;


}

body{
    background-image: url(FondoXnews.jpg);
}

#box1{background-color: darkseagreen;}

@keyframes smol {0%{background-color: aquamarine;}}

.space{
    position: relative;
    align-items: center;
    height: 800px;
    width:800px;

}

.up{
    
    margin-bottom: -45px;
    padding: 0%;
    animation-name: Up;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.rojo, .verde, .amarillo, .azul {
    z-index: 1;
    position:absolute;
    transform: translate(-105%, 105%);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

.verde{
    margin-left: 142px;
    margin-top: -90px;
    animation-name: Verde;
    
}

.rojo{
    margin-left: 229.5px;
    margin-top: -85px;
    animation-name: Rojo;
}

.amarillo{
    margin-left: 230px;
    margin-top: -70px;
    animation-name: Amarillo;
}

.azul{
    margin-left: 144px;
    margin-top: -70px;
    animation-name: Azul;
}

.down{
    margin-top: 8px;
    padding: 0%;
    animation-name: Down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.text{
    position: absolute;
    animation-name: Text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes Up{
     0%{
        opacity: 0;
        
    }
    

    40%{
        opacity: 100;
        
    }
    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }

}

@keyframes Down{
     0%{
        opacity: 0;
        
    }

    40%{
        opacity: 100;
        
    }
    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }

}

@keyframes Text{
     0%{
        opacity: 0;
        scale: 25%;
    }

    40%{
        opacity: 100;
        scale: 100%;
    }

    80%{
        opacity: 100;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
    }

}

@keyframes Rojo{
     0%{
        opacity: 0;
        
    }


    44%{
        opacity: 0;
        
    }
    45%{
        opacity: 100;
        scale:100%;
    }

    50%{
        scale:125%;
    }

    55%{
        scale: 100%;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }

}

@keyframes Amarillo{
     0%{
        opacity: 0;
        
    }

    48%{
        opacity: 0;
        
    }
    49%{
        opacity: 100;
        scale:100%;
    }

    54%{
        scale:125%;
    }

    59%{
        scale: 100%;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }
}

@keyframes Azul{
     0%{
        opacity: 0;
        
    }

    53%{
        opacity: 0;
        
    }
    54%{
        opacity: 100;
        scale:100%;
    }

    59%{
        scale:125%;
    }

    64%{
        scale: 100%;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }
}

@keyframes Verde{
     0%{
        opacity: 0;
        
    }

    63%{
        opacity: 0;
        
    }
    64%{
        opacity: 100;
        scale:100%;
    }

    69%{
        scale:125%;
    }

    74%{
        scale: 100%;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }
}