:root {
    --title-color: black;
    --button-action: #5D71D3;
    --principal-text: "Helvetica", sans-serif;
    --H1-title: "Lucid Console", monospace;
    --Paragraph-text: "Arial", sans-serif;
    --background-image: url("FondoXnews.jpg");
    --borderradius-gen: 5px;
}

body {
    font-family: var(--principal-text);
    margin: 0;
    padding: 0;
    color: var(--title-color);
}

h1 {
    font-family: var(--H1-title);
    color: var(--title-color);
}

p {
    font-family: var(--Paragraph-text);
}

button {
    border-radius: var(--borderradius-gen);
    font-family: var(--principal-text);
}

.button{
    color:var(--button-action);
}

