#smol{height: 100px;
    animation-name: smol;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;


}

.phone {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;       
  overflow: hidden;
}

.space {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  z-index: 2;
}

.logo-block {
  position: relative;       
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.up, .down {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.up { animation-name: Up; margin-bottom: -20px; }
.down { animation-name: Down; margin-top: -20px; }


.rojo, .verde, .amarillo, .azul {
  width: 100px;
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  animation-duration: 3s;
  animation-iteration-count: infinite;
}


.verde   { transform: translate(-95%, -406%); animation-name: Verde; }
.rojo    { transform: translate(4%, -430%);  animation-name: Rojo; }
.amarillo{ transform: translate(4%, -177%);    animation-name: Amarillo; }
.azul    { transform: translate(-96%, -191%);  animation-name: Azul; }

.text {
  margin-top: 30px;
  text-align: center;
  max-width: 80%;
  animation-name: Text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}



@keyframes Up{
     0%{
        opacity: 0;
        
    }
    

    40%{
        opacity: 1;
        
    }
    95%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        
    }

}

@keyframes Down{
     0%{
        opacity: 0;
        
    }

    40%{
        opacity: 1;
        
    }
    95%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        
    }

}

@keyframes Text{
     0%{
        opacity: 0;
        scale: 25%;
    }

    40%{
        opacity: 100;
        scale: 100%;
    }

    80%{
        opacity: 100;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
    }

}

@keyframes Rojo{
     0%{
        opacity: 0;
        
    }


    44%{
        opacity: 0;
        
    }
    45%{
        opacity: 100;
        scale:100%;
    }

    50%{
        scale:125%;
    }

    55%{
        scale: 100%;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }

}

@keyframes Amarillo{
     0%{
        opacity: 0;
        
    }

    48%{
        opacity: 0;
        
    }
    49%{
        opacity: 100;
        scale:100%;
    }

    54%{
        scale:125%;
    }

    59%{
        scale: 100%;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }
}

@keyframes Azul{
     0%{
        opacity: 0;
        
    }

    53%{
        opacity: 0;
        
    }
    54%{
        opacity: 100;
        scale:100%;
    }

    59%{
        scale:125%;
    }

    64%{
        scale: 100%;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }
}

@keyframes Verde{
     0%{
        opacity: 0;
        
    }

    63%{
        opacity: 0;
        
    }
    64%{
        opacity: 100;
        scale:100%;
    }

    69%{
        scale:125%;
    }

    74%{
        scale: 100%;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
        
    }
}