

.container{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%; 
}

.logo {
  margin-bottom: 10px;
  text-align: center;  
}                

.logo img {
  width: 150px;                        
  display: block;
  margin: 0 auto;                      
}

.logo h1 {
    font-size: 20px;
    margin-top: 10px;
    color: #000;
}

.confirm-container {
  background: var(--background-login);
  padding: 20px;
  box-shadow: 0px 6px 25px rgba(0,0,0,0.4);
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: var(--borderradius-gen);
}

.confirm-container label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.confirm-container input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: var(--borderradius-gen);
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.1);
}

.confirm-container button {
    width: 100%;
    padding: 12px;
    background: var(--button-action);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.confirm-container button:hover {
    background: #0056b3;
}
