.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1; 
    overflow: hidden; 
}

.header {
    background: #5D71D3;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;                   
    z-index: 2;
    box-shadow: 0px 6px 25px rgba(0,0,0,0.4);
}

.logo img {
    height: 32px;
    width: 105px;
    margin-top: 10px; 
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    margin-right: 8px;
}

.search-container {
    flex: 1;
    margin: 0 10px;
    display: flex;
    align-items: center;
    background: #36479b;
    border-radius: var(--borderradius-gen);
    padding: 5px 10px;
}

.search-bar {
    border: none;
    outline: none;
    font-family: var(--principal-text);
    font-size: 14px;
    flex: 1;
    background-color: #4A59A4;
   
}

.search-bar::placeholder {
    color: #ddd;  
}

.search-icon img {
    width: 18px;   
    height: 18px;
    margin-left: 8px; 
    display: block;
}

.feed {
    flex: 1;            /* ocupa todo el espacio disponible */
    overflow-y: auto;   /* scroll interno */
    padding: 10px;
    margin-bottom: 64px;
}


.post {
    background: var(--background-login);
    border-radius: var(--borderradius-gen);
    margin: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.post-image img {
    width: 100%;
    height: auto;
    display: block;
}

.post-content {
    padding: 10px;
}

.user-info {
    font-weight: bold;
    color: var(--button-action);
    margin-bottom: 5px;
}

.username {
    font-size: 14px;
}

.post-text {
    font-family: var(--Paragraph-text);
    font-size: 13px;
    line-height: 1.4;
    color: var(--title-color);
}


.thumb {
    width: 32x;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    border: 2px solid #36479b;
}



.navbar {
    flex: 0 0 64px;              
    background-color: #36479b;
    display: flex;
    justify-content: center;     
    gap: 10px;                   
    padding: 12px;
    border-top: 1px solid #333;
    position: absolute;
    bottom: 0;
    left: 50%;                   
    transform: translateX(-50%); 
    width: auto;                 
    z-index: 2;
    box-shadow: inset 0px 5px 8px rgba(0,0,0,0.2);
}


.navbar a {
    width: 64px;
    height: auto;
    background: #5D71D3; 
    border-radius: 12px; 
    padding: 8px;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}


.navbar a:hover {
    background: #4a5bb5; 
}

.navbar img {
    width: 24px;  
    height: 24px;
    display: block;
}